<%= link_to 'New Post', new_post_path %>
<br/>
<br/>


<div id="list">
      <% @posts.each do |post| %>
      <div class="note shadow">
          <div class="text">
                <h2><%= post.name %></h2>
                <p><%= raw textilize(coderay(post.body)) %></p>
                <div class="tags">
                  <%= image_tag("icons/black/tag.png", :alt => "show note") %>
                  <% post.tags.each do |tag|%>
                    <%= link_to tag.name, notes_url(:filter => tag.name) %>
                  <% end -%>
                </div>
                
                <div class="controls">
                  <%= link_to image_tag("icons/black/full-screen.png", :alt => "show note"), post %>
                  <%= link_to image_tag("icons/black/edit.png", :alt => "edit note"), edit_post_path(post) %>
                  <%= link_to image_tag("icons/black/delete-item.png", :alt => "edit note"), post, :confirm => 'Are you sure you want to delete this note?', :method => :delete %>
                </div>
          </div>
      </div>
    <% end %>
</div>


